  <div class="login-box" padding>
    <form>
      <ion-row>
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" name="email" [(ngModel)]="registerCredentials.email"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="registerCredentials.password"></ion-input>
          </ion-item>
      </ion-row>
      
      <ion-row>
      		<ion-spinner *ngIf="isLoading"></ion-spinner>
        	<button *ngIf="!isLoading" ion-button class="submit-btn" full type="submit" (click)="signIn()">Login</button>
          <button *ngIf="!isLoading" class="register" full (click)="register()">Register</button>
      </ion-row>
    </form>
  </div>
