page-login {

	.login-box {
	  display: flex;
	  justify-content: center; /* center horizontally */
	  align-items: center; /* center vertically */
	  height: 100%;
	  background: white;
	}

	form {
		width: 90%;
	}

	ion-spinner {
		margin:auto;
		stroke: #5060ff;
		fill: #5060ff;		
		height: 38px;
		width: 38px;
	}

	ion-row {
		margin-bottom: 15px;
	}

	ion-item {
		margin-bottom: 10px;
		padding-left: 0px !important;
	}

	.submit-btn {
		background: #5060ff;
		border-radius: 30px !important;
	}
}