page-register {
	.login-box {
	  display: flex;
	  justify-content: center; /* center horizontally */
	  align-items: center; /* center vertically */
	  height: 100%;
	  background: white;
	}

	.register {
		margin-top: 10px;
		background: none;
		width: 100%;
		padding: 10px;
	}

	.register:active {
		background: #F7F7F7;
	}

	form {
		width: 90%;
	}

	.firstname-item {
		width: 45%;
		margin-right: 10px;
	}

	.lastname-item {
		width: 45%;
		margin-left: 10px;
	}

	ion-spinner {
		margin:auto;
		stroke: #5060ff;
		fill: #5060ff;		
		height: 38px;
		width: 38px;
	}

	ion-row {
		margin-bottom: 15px;
	}

	ion-item {
		margin-bottom: 10px;
		padding-left: 0px !important;
	}

	.submit-btn {
		margin-top: 10px;
		background: #5060ff;
		border-radius: 30px !important;
	}
}
