<!--
  Generated template for the ContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content >

	<ion-refresher (ionRefresh)="refreshContent($event)">
		<ion-refresher-content>
		</ion-refresher-content>
	</ion-refresher>
	<div class="content-list-div" *ngIf="contentList">
		<ion-list [virtualScroll]="contentList" [approxItemHeight]="'170px'">
			<ion-item no-lines *virtualItem="let content">
				<div class="img-container"><img class="content-img" src="{{content.urls.original}}"></div>
				<p>{{content.caption}}</p>
			</ion-item>
		</ion-list>
	</div>

	<ion-infinite-scroll *ngIf="contentList.length < totalContent" (ionInfinite)="$event.waitFor(loadMore())">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
